body {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 70px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #424242; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sideIcons {
  text-decoration: none;
  color: white;
  display: block;
  float: left;
  transition: 0.3s;
  color: #f1f1f1;
}

.main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
  margin-left: 70px;
}

.sidebar-opened {
  width: 240px;
}

.main-closed {
  margin-left: 240px;
}

.sideText{
  color: #f1f1f1;
}
